<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Shiny Chance Simulator</title>
  </head>
  <body>
    <main>
      <div id="app" class="app">
        <div class="options">
          <input
            @change="shinyChance"
            type="checkbox"
            value="charm"
            id="charm"
            v-model="checkedBoxes"
            data-cy="input-charm"
          />
          <label for="charm">Shiny charm</label>
          <input
            @change="shinyChance"
            type="checkbox"
            value="outbreak"
            id="outbreak"
            v-model="checkedBoxes"
            data-cy="input-outbreak"
          />
          <label for="outbreak">Mass outbreak (60 defeated)</label>
          <input
            @change="shinyChance"
            type="checkbox"
            value="sandwich"
            id="sandwich"
            v-model="checkedBoxes"
            data-cy="input-sandwich"
          />
          <label for="sandwich">Shiny boost sandwich</label>
        </div>
        <p class="odds-display" data-cy="odds-display">
          Shiny odds: 1 in {{currentOdds}} Pokémon
        </p>
        <button
          @click="calcAverageTries"
          class="run-button"
          data-cy="run-button"
        >
          Go!
        </button>
        <div v-show="resultIsVisible" class="result-info">
          <p>
            Average encounters until a shiny appeared (out of 5 iterations):
          </p>
          <p class="result-display" data-cy="results">
            {{result}} encounters ({{resultFeedback}})
          </p>
        </div>
      </div>
    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
